[user]
	email = contact@zenixark.com
	name = zenixark
	signingkey = 1AC792957DF89D42
[commit]
	gpgSign = true
[core]
	pager = cat
	editor = nvim
[color]
	ui = always
[alias]
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
