pkgbase = linux-zenixark
	pkgdesc = Zenixark's attempt at a custom kernel
	pkgver = 6.17.4
	pkgrel = 1
	url = https://zenixark.com/zenixark/zenixarch
	arch = x86_64
	makedepends = bc
	makedepends = clang
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = lld
	makedepends = llvm
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !strip
	options = !debug
	options = !lto
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.17.4.tar.xz
	source = https://github.com/archlinux/linux/releases/download/v6.17.4-arch2/linux-v6.17.4-arch2.patch.zst
	source = https://raw.githubusercontent.com/CachyOS/kernel-patches/refs/heads/master/6.17/sched/0001-bore.patch
	source = https://us.download.nvidia.com/XFree86/Linux-x86_64/580.95.05/NVIDIA-Linux-x86_64-580.95.05.run
	source = config

pkgname = linux-zenixark
	pkgdesc = Zenixark's attempt at a custom kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	depends = nvidia-utils=580.95.05
	depends = libglvnd
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = NVIDIA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE

pkgname = linux-zenixark-headers
	pkgdesc = Headers and scripts for building modules for Zenixark's attempt at a custom kernel
	depends = pahole
	depends = linux-zenixark
