[user]
	email = contact@zenixark.com
	name = zenixark
	signingkey = 1AC792957DF89D42
[commit]
	gpgSign = true
[core]
	pager = cat
	editor = nvim
[color]
	ui = always
[credential]
	helper = store --file=/tmp/git-credentials
