[Unit]
Description=Connect to VPN
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/etc/wireguard
ExecStart=/bin/bash -c 'wg show && wg-quick down wg0; ln -sf "$(find configs -name "*.conf" -print | shuf -n 1)" wg0.conf && wg-quick up wg0'

[Install]
WantedBy=multi-user.target
