[Unit]
Description=Autostart hyprland
After=systemd-user-sessions.service user-runtime-dir@1000.service
Requires=user-runtime-dir@1000.service
Wants=graphical.target
RefuseManualStart=yes
RefuseManualStop=yes

[Service]
User=user
Environment=XDG_RUNTIME_DIR=/run/user/1000
WorkingDirectory=/home/user
ExecStart=/usr/bin/hyprland
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical.target
