[Unit]
Description=Set NVIDIA overclocks
After=wireguard.target
Wants=wireguard.target

[Service]
WorkingDirectory=/opt
ExecStart=/bin/bash -c 'if [[ ! -d nvml ]]; then python -m venv nvml; nvml/bin/pip install --upgrade pip; nvml/bin/pip install nvidia-ml-py; fi; nvml/bin/pip install --upgrade nvidia-ml-py; nvml/bin/python -c "from pynvml import *; nvmlInit(); myGPU=nvmlDeviceGetHandleByIndex(0); nvmlDeviceSetGpcClkVfOffset(myGPU,210); nvmlDeviceSetMemClkVfOffset(myGPU,3000)"'

[Install]
WantedBy=multi-user.target
