[Unit]
Description=Set NVIDIA overclocks
After=wireguard.service
Wants=wireguard.service

[Service]
WorkingDirectory=/usr/local/bin
ExecStart=/bin/bash -c 'if [[ ! -f nvidia_oc ]]; then curl -JLO https://github.com/Dreaming-Codes/nvidia_oc/releases/download/0.1.21/nvidia_oc; chmod +x nvidia_oc; fi; ./nvidia_oc set --index 0 --freq-offset 210 --mem-offset 3000'

[Install]
WantedBy=multi-user.target
